<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=saskeys;AccountKey=w60jYuQoPEEr4FgY19OpilcD2w9xP954sFRtMniH39TULdyxdFjs5UwyrIuqye3SqN0VCPUgZki+Q4wwbXfcDg==;EndpointSuffix=core.windows.net"/>
  </appSettings>
</configuration>